<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/master.css')}}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<html>
	<body>
		<div class="navbar">
			<a href="{{url_for('about_me')}}">About Me</a>
			<a href="{{url_for('resume')}}">My Resume</a>
			<a href="http://github.com/bmanfred">GitHub</a>
			<a href="http://linkedin.com/in/brendan-manfred">LinkedIn</a>
		</div>
		
		<div class="container">
			<div class="row" id="header">
				<div class="col">
				</div>
				<div class="col-lg-6">
					<h1>Brendan Manfred</h1>
					<h2>University of Notre Dame '22</h2>
					<h2>Computer Science</h2>
				</div>
				<div class="col">
					<img id="me" src="https://media-exp1.licdn.com/dms/image/C4D03AQGJAVH-Wxm7qw/profile-displayphoto-shrink_200_200/0?e=1594857600&v=beta&t=UCk5lTW7erWkqSph2Vnh_UePiwIr68-nFlGRJzQgAOA">
				</div>
			</div>
			<div class="row">
				<div class="col">
				</div>
				<div class="col-sm-1">
					<a href="http://github.com/bmanfred" class="fa fa-github fa-2x circle-icon"></a>	
				</div>
				<div class="col-sm-1">
						<a href="http://linkedin.com/in/brendan-manfred" class="fa fa-linkedin fa-2x circle-icon"></a>
				</div>
				<div class="col-sm-1">
						<a method="post" href="mailto:bmanfred@nd.edu" class="fa fa-envelope fa-2x circle-icon"></a>
				</div>
				<div class="col">
				</div>
				
			</div>

		</div>
	</body>
</html>
