<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/master.css')}}">
</head>
<html>
	<body>
		<div class="container">
			<div id="header">
				<h1><center>Welcome To Brendan Manfred's Page</center></h1>
			</div>

			<div class="row">
				<div id="links-col-1" class="col">
					<h3 style="padding-top: 3rem"><center><a href="{{url_for('about_me')}}">About Me</a></center></h3>
					<h3 style="padding-top: 3rem"><center><a href="http://github.com/bmanfred">GitHub</a></center></h3>
					<h3 style="padding-top: 3rem"><center><a href="http://bui-ferpa-police.systems">WebServer I Wrote in C</a></center></h3>
				</div>

				<div id="links-col-2" class="col">
					<h3 style="padding-top: 3rem"><center><a href="http://linkedin.com/in/brendan-manfred/">LinkedIn</a></center></h3>
					<h3 style="padding-top: 3rem"><center><a href="{{url_for('resume')}}">My Resume</a></center></h3>
					
				</div>
			</div>
		</div>
	</body>
</html>
