body, html{
	height: 100%;
}

*{
	font-family: "Roboto";
	box-sizing: border-box;
}


.navbar{
	background-image: linear-gradient(to right, #ffd89b, #19547b);
}

.dropbtn {
	background-image: linear-gradient(to right, #141E30, #243B55);
	color: white;
	padding: 10px;
	font-size: 16px;
	border: none;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 10px 10px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #404040;
	color: white;
	text-align: center;
}


#me{
	border-radius: 50%;
}

#header{
	padding-top: 14rem;
}


#about-me-header{
	padding-top: 2rem;
}



.fa{
	color: #a3a375;
}


.fa:hover{
	opacity: 0.7;
}



