*{
	font-family: "Courier New";
}

.navbar{
	background-color: #333;
}

#header{
	padding-top:2rem;
}

#about-me-header{
	padding-top: 2rem;
}

.fa{
	border-radius: 2px;
}

.fa:hover{
	opacity: 0.7;
}

